<ion-view view-title="{{ fullname }}">
    <ion-nav-title>{{fullname}}</ion-nav-title>
    <ion-content scroll="false" padding="false">
        <div class="mm-split-pane">
            <div class="mm-split-pane-menu">
                <ion-content>
                    <ion-refresher on-refresh="doRefresh()" pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="sectionsLoaded"></ion-refresher>
                    <mm-loading hide-until="sectionsLoaded">
                        <ion-list>
                            <a ng-repeat="section in sections" class="item" ui-sref="{{getState(section)}}({courseid: {{courseid}}, sectionid: {{section.id}}})">
                                {{section.name}}
                            </a>
                        </ion-list>
                    </mm-loading>
                </ion-content>
            </div>
            <div ui-view="tablet" class="mm-split-pane-content">
            </div>
        </div>
    </ion-content>
</ion-view>